################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpCoding/bin/Debug/net8.0
/CSharpCoding/obj/Debug/net8.0/ref
/CSharpCoding/obj/Debug/net8.0/refint
